repos:
  - repo: https://github.com/ambv/black
    rev: 20.8b1
    hooks:
      - id: black
        language_version: python3
        args: [--line-length=100, --target-version=py37]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: end-of-file-fixer
        exclude: ^.bumpversion.cfg
      - id: trailing-whitespace
        exclude: ^.bumpversion.cfg
  - repo: git://github.com/luismayta/pre-commit-mypy
    rev: "aad0a7b"
    hooks:
      - id: mypy
        always_run: true
        args: [--ignore-missing-imports, "sheetwork/core"]
