repos:
  - repo: https://github.com/asottile/seed-isort-config
    rev: v2.2.0
    hooks:
      - id: seed-isort-config
        name: Seed isort
  - repo: https://github.com/ambv/black
    rev: 20.8b1
    hooks:
      - id: black
        language_version: python3
        args: [--line-length=100, --target-version=py37]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: end-of-file-fixer
        exclude: ^.bumpversion.cfg
      - id: trailing-whitespace
        exclude: ^.bumpversion.cfg
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: ""
    hooks:
      - id: mypy
        name: Lint core with mypy
        files: ^sheetwork/core/
        entry: mypy sheetwork/core
        pass_filenames: false
        args: [--ignore-missing-imports]
  - repo: https://github.com/PyCQA/isort
    rev: ""
    hooks:
      - id: isort
        name: Sort import with isort
        args: ["-m3", "-w 100", "--tc"]
        exclude: ^tests/
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "" # Use the sha or tag you want to point at
    hooks:
      - id: prettier
  - repo: https://gitlab.com/pycqa/flake8
    rev: "" # pick a git hash / tag to point to
    hooks:
      - id: flake8
        exclude: ^tests/
        additional_dependencies: [flake8-docstrings]
        args: ["--max-line-length=120", "--ignore=D102"]
