appnope==0.1.0; sys_platform == "darwin"
asn1crypto==1.4.0
atomicwrites==1.4.0; sys_platform == "win32"
attrs==20.2.0
azure-common==1.1.25
azure-core==1.8.2
azure-storage-blob==12.5.0; python_version >= "3.5.2"
backcall==0.2.0
boto3==1.14.63
botocore==1.17.63
bump2version==1.0.1
bumpversion==0.6.0
cerberus==1.3.2
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
codecov==2.1.10
colorama==0.4.3
coverage==5.3
cryptography==2.9.2
decorator==4.4.2
docutils==0.15.2
gspread==3.3.1
httplib2==0.18.1
idna==2.8
importlib-metadata==2.0.0; python_version < "3.8"
inflection==0.5.1
iniconfig==1.0.1
ipython-genutils==0.2.0
ipython==7.18.1
isodate==0.6.0
jedi==0.17.2
jmespath==0.10.0
luddite==1.0.1
mock==4.0.2
msrest==0.6.19
mypy-extensions==0.4.3
mypy==0.790
numpy==1.19.2
oauth2client==4.1.3
oauthlib==3.1.0
oscrypto==1.2.1
packaging==20.4
pandas==1.1.3
parso==0.7.1
pexpect==4.8.0; sys_platform != "win32"
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.7
ptyprocess==0.6.0
py==1.9.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycparser==2.20
pycryptodomex==3.9.8
pygments==2.7.1
pyjwt==1.7.1
pyopenssl==19.1.0
pyparsing==2.4.7
pytest-cov==2.10.1
pytest-mock==3.3.1
pytest==6.1.1
python-dateutil==2.8.1
pytz==2020.1
pyyaml==5.3.1
requests-oauthlib==1.3.0
requests==2.22.0
rsa==4.6
s3transfer==0.3.3
six==1.15.0
snowflake-connector-python==2.3.3
snowflake-sqlalchemy==1.2.3
sqlalchemy==1.3.19
toml==0.10.1
traitlets==5.0.4
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.25.10
urllib3==1.25.10; python_version != "3.4"
wcwidth==0.2.5
zipp==3.3.0
