asn1crypto==1.4.0
azure-common==1.1.25
azure-core==1.8.2
azure-storage-blob==12.5.0; python_version >= "3.5.2"
boto3==1.14.63
botocore==1.17.63
cerberus==1.3.2
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
colorama==0.4.3
cryptography==2.9.2
docutils==0.15.2
gspread==3.3.1
httplib2==0.18.1
idna==2.8
inflection==0.5.1
isodate==0.6.0
jmespath==0.10.0
luddite==1.0.1
msrest==0.6.19
numpy==1.19.2
oauth2client==4.1.3
oauthlib==3.1.0
oscrypto==1.2.1
packaging==20.4
pandas==1.1.3
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycparser==2.20
pycryptodomex==3.9.8
pyjwt==1.7.1
pyopenssl==19.1.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
pyyaml==5.3.1
requests-oauthlib==1.3.0
requests==2.22.0
rsa==4.6
s3transfer==0.3.3
six==1.15.0
snowflake-connector-python==2.3.3
snowflake-sqlalchemy==1.2.3
sqlalchemy==1.3.19
urllib3==1.25.10
urllib3==1.25.10; python_version != "3.4"
