name: Sheetload

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
      with:
        lfs: false
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r pip-requirements.txt -r dev-pip-requirements.txt
    - name: Test with pytest
      run: |
        # pytest --cov=data_tools tests/
        pytest
    - name: Mypy checks
      uses: jpetrucciani/mypy-check@master
      with:
        path: 'sheetload'